<div class="container">
    @if (!cameraGranted()) {
        <mat-card class="entry-card">
            <h1>Akzeptiere es</h1>
            <img src="https://media1.tenor.com/m/6JLjmog3aGwAAAAd/cantproveit-dexter.gif" alt="Troll Buddy" class="card-image">
            <p> <b>{{ this.userName() }}</b> hat dich herausgeforder. Oder hast du etwas zu verbergen?</p>
            <app-button type="button" color="primary" (buttonClicked)="requestCameraAccess()" text="Zugriff erlauben"></app-button>
        </mat-card>
    } @else {
        @if (youtubeVideoId()) {
            <div class="youtube-section">
                <h2>{{userName()}} hat dir ein video geschickt.</h2>
                <iframe title="youtube" [src]="getSafeUrl(youtubeVideoId())" width="560" height="315" allowfullscreen></iframe>
            </div>
        }

    }
    <!-- Hidden video and canvas elements for camera capture - always rendered -->
    <video #videoElement style="display: none;"></video>
    <canvas #canvasElement style="display: none;"></canvas>
</div>
