<mat-toolbar color="primary" class="mat-elevation-z4" style="justify-content: space-between;">
  <span style="font-weight: 600; font-size: 1.3rem;">Troll your friend</span>
  <span>
    <button mat-icon-button [routerLink]="['/']" aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Info">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/login']" aria-label="Login">
      <mat-icon>login</mat-icon>
    </button>
  </span>
</mat-toolbar>