<div class="registration-container">
	<mat-card class="registration-card">
		<mat-card-title><h1>Registrierung</h1></mat-card-title>
		<mat-card-content>
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Benutzername</mat-label>
					<input matInput formControlName="username" type="text" name="username" autocomplete="username" />
				</mat-form-field>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>E-Mail</mat-label>
					<input matInput formControlName="email" type="email" name="email" autocomplete="email" />
				</mat-form-field>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Passwort</mat-label>
					<input matInput formControlName="password" type="password" name="password" autocomplete="new-password" />
				</mat-form-field>
				<app-button color="primary" class="full-width" type="submit" [loading]="isLoading()">Registrieren</app-button>
			</form>
			<div class="social-registration">
				<!-- Hier kannst du später Google/Apple Registrierung einfügen -->
			</div>
		</mat-card-content>
	</mat-card>
</div>
